*{
	margin: 0;
	padding: 0;
	
}

.main02{
	width:100%;
	height:100vh;
	background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}

.navbar{
	width: 1200px;
	height: 75px;
	margin: auto;
	position: absolute;
	top:0;
	left:0;
	padding:20 px 8%;
	display: flex;
	align-items: center;
	justify-content:space-between;
	
}

.icon{
	width: 200px;
	float: left;
	height: 70px;
}

.logo{
	color: yellow;
	font-size: 40px;
	font-family:Times New Roman; 
	padding-left: 20px;
	float: left;
	padding-top: 10px;
	
}
.menu02{
	width: 400px;
	float:left;
	height: 70px;
	text-align:center;
}

ul{
	float: left;
	display: flex;
	justify-content:center;
	align-items: right;
	list-style:none;
}

ul li{ 
	list-style:none;
	margin-left:60px;
	margin-top:60px;
	font-size:14px;
	list-style:none;
	display: inline-block;
	position:relative;
}

ul li a{
	text-decoration: none;
	color: white;
	font-family:Arial;
	font-weight:bold;
	transition:0.5s ease-in-out;
}
ul li::after{
	content:'';
	width:0%;
	height:2px;
	background:orange;
	display:block;
	margin:auto;
	transition:0.5s;
}
ul li:hover::after{
	width:100%;
}

.content02{
	width: 1000px;
	height: 200px;
	margin: auto;
	color: white;
	position: absolute;
	float: left;
	margin-top:300px;
	margin-left:100px;
	letter-spacing: 1.2px;
	text-align:left;
	
	
	
}

.content02.par2{
	padding-left:20px;
	padding-bottom:25px;
	font-family:Arial;
	letter-spacing:0px;
	line-height:30px;
	font-size: 25px; 
	
}	

.content02 h1{
	font-family:"Times New Roman";
	font-size: 75px;
	padding-left:20px;
	margin-top:9%;
	letter-spacing:2px;
	text-align: left;
	
}

.content02 span{
	color: yellow;
	font-size: 60px;
}
.back-video{
	position: absolute;
	right:0;
	bottom:0;
	z-index:-1;
}
@media(min-aspect-ratio:4/3){
	.back-video{
			width:100%;
			height: auto;
	}
}

@media(max-aspect-ratio:4/3){
	.back-video{
			width:auto;
			height: 100%;
	}
}