*{
	margin: 0;
	padding: 0;
	
}
.main03{
	width:100%;
	height:100vh;
	background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
	background-repeat:no-repeat;
	background-size:cover;
	
	
	
	
}
.navbar{
	width: 1200px;
	height: 75px;
	margin: auto;
	position: absolute;
	top:0;
	left:0;
	padding:20 px 8%;
	display: flex;
	align-items: center;
	justify-content:space-between;
	
}

.icon{
	width: 200px;
	float: left;
	height: 70px;
}

.logo{
	color: yellow;
	font-size: 40px;
	font-family:Times New Roman; 
	padding-left: 20px;
	float: left;
	padding-top: 10px;
	
}
.menu01{
	width: 400px;
	float:left;
	height: 70px;
	text-align:center;
}

ul{
	float: left;
	display: flex;
	justify-content:center;
	align-items: right;
	list-style:none;
}

ul li{ 
	list-style:none;
	margin-left:60px;
	margin-top:60px;
	font-size:14px;
	list-style:none;
	display: inline-block;
	position:relative;
}

ul li a{
	text-decoration: none;
	color: white;
	font-family:Arial;
	font-weight:bold;
	transition:0.5s ease-in-out;
}
ul li::after{
	content:'';
	width:0%;
	height:2px;
	background:orange;
	display:block;
	margin:auto;
	transition:0.5s;
}
ul li:hover::after{
	width:100%;
}
.content07{
	width: 1000px;
	height: 200px;
	margin: auto;
	color: white;
	position: absolute;
	float: center;
	margin-top:75px;
	margin-left:100px;
	letter-spacing: 1.2px;
	text-align:left;
	
	
	
}
.row1{
	margin-top:0%;
	display:flex;
	justify-content:space-between;
	
}



h3{
	text-align:center;
	font-weight:500;
	margin:10px 0px;
}
.course-col:hover{
	box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}
.back-video{
	position: absolute;
	right:0;
	bottom:0;
	z-index:-1;
}
@media(min-aspect-ratio:9/16){
	.back-video{
			width:100%;
			height: auto;
	}
}

@media(max-aspect-ratio:9/16){
	.back-video{
			width:auto;
			height: 100%;
	}
}